.list {
    margin-top: 40px;
    list-style: upper-latin;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 40px;
}

.detail {
    display: flex;
    align-items: center;
    gap: 8px;
}

.detailsList {
    padding-left: 30px;
}
