.nav-bar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links,
.dropdown {
  margin-left: auto;

  div {
    color: var(--inverted-primary-color);
  }
}

.mainLink {
  margin-right: 15px;
}

.app-name {
  width: var(--sidebar-width);
  margin-left: 15px;
}
